[2018-11-27 23:44] nmeyerhans opened #9 "Allow capture of Firecracker logs"
Firecracker reports internal logs and metrics using a pair of FIFOs. We support configuration of these FIFOs via the `LogFifo` and `MetricsFifo` in `firecracker.Config`.

We should consider providing an optional mechanism to capture the log stream from the configured FIFO to a file. Persistent logs can be extremely useful when debugging issues with Firecracker.

[2018-11-27 23:50] nmeyerhans opened #10 "Support additional VM console options"
We currently support several console options for the VM, including `stdio` to use the existing IO streams or `xterm` to run in a graphical terminal. Additional ones that could be useful are:

1. Arbitrary file -- Log stdout/stdio to an arbitrary file and read stdin from /dev/null
2. Inherited file descriptor. -- Allow the client to provide existing file descriptors for any or all of the standard I

[2018-11-27 23:52] nmeyerhans opened #11 "Support the firecracker jailer"
Firecracker provides a [jailer](https://github.com/firecracker-microvm/firecracker/blob/master/docs/jailer.md) that enhances the security boundary of the Firecracker process. We don't currently support it at all, but should.

[2018-11-27 23:53] nmeyerhans opened #12 "Support configuration of the Firecracker MMDS"
Firecracker has an internal metadata service that can provide user-supplied data to the VM via an http endpoint. We should support configuration of this service.

[2018-11-27 23:56] nmeyerhans opened #13 "Support Firecracker rate limiters"
Firecracker supports network and disk [rate limiters](https://github.com/firecracker-microvm/firecracker/blob/master/docs/design.md#io-storage-networking-and-rate-limiting) that can help restrict access to physical resources, insulating against noisy-neighbor issues. We don't currently support configuration of these features, but should.

[2018-12-04 00:00] xibz commented on #10
closing in result of #17

[2018-12-04 00:00] #10 closed

[2018-12-04 00:18] nmeyerhans opened #20 "Missing input validation on firecracker console settings"
There are  a couple issues with console handling in `firectl`.

1. There's no sanity checking at all on the value passed to `--firecracker-console`. E.g.

[code]

I would expect firectl to report an error in that case, and never actually try to spawn a VM. This issue has likely existed forever.

2. If `--firecracker-console=file` is specified, but no filename is provided, the behavior is confusing

[2018-12-04 20:50] ilianaw opened #24 "Split out firectl to its own repo"
The firectl binary stands on its own, and would help make downstream packaging (namely in Amazon Linux) much less confusing.

[2018-12-04 21:12] samuelkarp commented on #24
@ilianaw fyi I moved this issue into the firecracker-go-sdk repository, since that's where the firectl tool currently lives.

[2018-12-04 21:15] ilianaw commented on #24
Oh, right. :sweat_smile:

[2018-12-05 21:26] samuelkarp opened #25 "`make test` fails with "Cannot create vsock device. VhostOpen(VhostOpen(Os { code: 13, kind: PermissionDenied, message: Permission denied }))""
[code]

This needs a better error message showing how to fix it.

[2018-12-05 21:27] samuelkarp opened #26 "machine_test.go:262: StopVMM failed: os: process already finished"
[code]

[2018-12-05 22:15] samuelkarp opened #29 "machine_test.go:250: attaching vsock failed: [PUT /vsocks/{id}][400] putGuestVsockByIdBadRequest &{FaultMessage:Invalid request method and/or path: PUT /vsocks/foo}"
[code]

Needs a better error message.

[2018-12-05 22:32] nmeyerhans commented on #26
We're passing `panic=1` on the kernel commandline, and not giving it an actual filesystem on its root device, so it panics and reboots in 1 second, terminating the Firecracker process. In the test, we hard code a 5 second delay before trying to stop Firecracker. Since 1<5, Firecracker is gone by the time we try to stop it.

We should probably just pass `panic=0` during this test, which disables th

[2018-12-05 22:34] samuelkarp commented on #26
@nmeyerhans I can take care of that.

[2018-12-05 22:51] nmeyerhans commented on #9
See #23

[2018-12-05 22:56] #25 closed

[2018-12-05 23:00] #29 closed

[2018-12-05 23:21] #26 closed

[2018-12-05 23:36] nmeyerhans opened #32 "firectl should check PATH for firecracker by default"
Currently, if you don't explicitly provide the location of the firecracker binary, firectl fails with an unhelpful error:

INFO[0000] Called startVMM(), setting up a VMM on ./firecracker.sock
ERRO[0000] Failed to start VMM: fork/exec : no such file or directory
FATA[0000] Firecracker Init returned error fork/exec : no such file or directory

We should address this two ways:
1. Consult `PATH` by de

[2018-12-05 23:42] xibz commented on #32
#21 addresses this in an indirect way. Specifying a binary is removed all together and uses whatever is in `PATH`.

[2018-12-05 23:47] nmeyerhans commented on #32
We should support overriding the location. The ability to do so is useful for developing/testing/debugging/etc.

[2018-12-05 23:48] xibz commented on #32
Okay, good to know. I will go ahead and update to allow overriding and also return a meaningful error if the binary cant be found in the path

[2018-12-05 23:50] nmeyerhans commented on #32
Looks like #21 already handles the case where it's not in the PATH. If the user specifies an alternate location on the command line, we should abort with a descriptive error message if that specific file doesn't exist (don't fall back to the PATH)

[2018-12-06 21:07] xibz opened #33 "tests are not killing all firecracker processes"
#17 introduced a leaking firecracker process when running tests.

[2018-12-06 22:08] #33 closed

[2018-12-08 01:21] samuelkarp commented on #24
This work is blocked on #21 and #23.  After those are merged, we can split out firectl.

[2018-12-10 21:37] samuelkarp opened #37 "tests: panic when firecraker binary is not found"
[code]

[2018-12-11 04:47] #37 closed

[2018-12-11 23:14] xibz opened #39 "Add support for PatchGuestDriveByID"
the SDK should support `PatchGuestDriveByID` defined in the `swagger.yml` file.

[2018-12-20 23:15] kshitij8 commented on #24
I see that both the blocking changes have been merged, is there a plan to break out firectl?

[2018-12-20 23:16] samuelkarp commented on #24
@kshitij8: @nmeyerhans just started working on it

[2018-12-21 00:55] nmeyerhans commented on #24
https://github.com/firecracker-microvm/firectl

[2018-12-21 00:55] #24 closed

[2018-12-21 05:09] nmeyerhans commented on #9
Closed by #23

[2018-12-21 05:09] #9 closed

[2018-12-21 05:11] nmeyerhans commented on #20
Firectl
1. No longer lives in this repository.
2. No longer handles output.

[2018-12-21 05:11] #20 closed

[2019-01-04 12:43] deepak6446 opened #49 "unable to kill go lang process if vm is running in background"
i get this when i start vm
INFO[0000] Called startVMM(), setting up a VMM on /tmp/firecracker172.17.0.2.sock
INFO[0000] VMM logging and metrics disabled.
INFO[0000] refreshMachineConfig: [GET /machine-config][200] getMachineConfigOK  &{CPUTemplate:Uninitialized HtEnabled:false MemSizeMib:120 VcpuCount:1}
INFO[0000] PutGuestBootSource: [PUT /boot-source][204] putGuestBootSourceNoContent
INFO[0000]

[2019-01-04 19:18] deepak6446 opened #50 "network configuration is not working"
getting error
[PUT /network-interfaces/{iface_id}][400] putGuestNetworkInterfaceByIdBadRequest  &{FaultMessage:missing field `state` at line 1 column 71}
panic: failed to initialize machine: [PUT /network-interfaces/{iface_id}][400] putGuestNetworkInterfaceByIdBadRequest  &{FaultMessage:missing field `state` at line 1 column 71}

api is not getting state

[2019-01-04 23:34] xibz commented on #49
Hello @deepak6446, thank you for reaching out to us. Out of curiosity which commit are you on of the SDK? Is this at HEAD? This can be found by simply typing `git log` and getting the commit SHA at the very top.

 And can you also provide a code sample when `CTRL+C` is failing?

[2019-01-06 19:12] deepak6446 commented on #49
Hi @xibz I am on commit 1585d53f793483c96d5d9058ca705d97d1b0558b
and when i start vm in background and doesent kill it it is not allowing the golang server to kill using CTRL+C.

[2019-01-07 18:31] xibz commented on #49
@deepak6446 - Thanks for the information, but can you provide a code sample so I can try to reproduce this on my end? Is it failing to terminate every time or only sometime?

When I `CTRL + C` it seems to work on my end, and here is what my code looks like:
[code]

[2019-01-07 19:04] xibz commented on #50
Hello @deepak6446, thank you for reaching out to us. What version of firecracker are you using here? I recently tested this with `0.12.0` and everything seems to be working properly.

[2019-01-08 18:38] kshitij8 opened #51 "Upgrade to firecracker v0.14.0"
Firecracker v0.13.0 has been released: https://github.com/firecracker-microvm/firecracker/releases/tag/v0.13.0

[2019-01-10 23:48] samuelkarp opened #52 "API calls take exactly the timeout of time"
API calls made through the Unix socket appear to take exactly 500ms, which is the value of [`firecrackerRequestTimeout`](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/1585d53f793483c96d5d9058ca705d97d1b0558b/firecracker.go#L28).  I can observe this by manipulating the timeout in the [`runtime.ClientOperation`](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/1585d53f

[2019-01-11 06:57] xibz commented on #52
I can't seem to reproduce this on my home machine. I pulled #53 locally and change the time to 5 minutes and moved the submit to a go routine and it passed o.o

[2019-01-11 17:55] samuelkarp commented on #52
Can you try changing the time to 5 minutes without making any other changes?  Moving the submit to a goroutine would hide the symptom; the bytes are submitted to the socket effectively instantly (which is why I was able to get away with 1ms) but then submit continues to block until the timeout.

[2019-01-11 18:08] deepak6446 commented on #50
I cannot find key "state": "Attached" in network initalization
also if we could add an example in example.go it would be really helpful

[2019-01-11 22:20] xibz commented on #50
@deepak6446 -  What version of [firecracker](github.com/firecracker-microvm/firecracker) are you using? It seems there may be a mismatch between the SDK and the version of what version of firecracker you are using.

[2019-01-11 23:43] #52 closed

[2019-01-12 17:16] deepak6446 commented on #50
@xibz i using firecracker-v0.11.0
does that work with commit 1585d53 on gosdk

[2019-01-15 22:41] xibz commented on #50
@deepak6446 - The current version of the SDK is compatible with v0.12. Can you update to v0.12 and let us know if that resolves the problem?

[2019-01-16 19:53] xibz opened #56 "Add support for bind mount and mknod dev/file mapper"
The jailer currently supports a naive approach to sharing files in its root drive which is hard linking. We want to move away from this and support bind mounting of files and running mknod on devices

[2019-01-17 22:49] kshitij8 commented on #51
The following command doesn't seem to be generating a [client](https://goswagger.io/generate/client.html) in sync with what we have right now:
`swagger generate client -f client/swagger.yaml -m client/models -r COPYRIGHT_HEADER`

Any idea what was used for the previous runs?

[2019-01-17 22:57] xibz commented on #51
Hello @kshitij8, thank you for reaching out to us. We currently use `make generate` to generate the SDK. If you run into any issue with that please let us know. My plan was to update to the newest swagger model when a couple of the PRs get merged. Otherwise there are going to be some merge conflicts, especially with the custom templates PR.

[2019-01-17 23:10] kshitij8 commented on #51
Hi @xibz,
I'm probably missing something but with make generate I see the following:
[code]

[2019-01-17 23:14] xibz commented on #51
@kshitij8 - Yea, generating the SDK requires `mockgen`.

You can install it by
[code]

Ensure your `GOPATH`/bin is in `PATH` or `GOBIN` is pointing to a path in `PATH`.

[2019-01-21 22:55] xibz commented on #51
Cannot update til' this [issue](https://github.com/firecracker-microvm/firecracker/issues/868) is resolved

[2019-02-01 21:30] samuelkarp commented on #51
v0.14.0 appears to have issues with vsock; see https://github.com/firecracker-microvm/firecracker/issues/897 and https://github.com/firecracker-microvm/firecracker/issues/911.  I think we can still update the SDK, but downstream consumers of the SDK who depend on vsock (like [firecracker-containerd](https://github.com/firecracker-microvm/firecracker-containerd/)) will be blocked on upgrading until

[2019-02-12 21:53] #39 closed

[2019-02-22 21:52] xibz opened #66 "Add support for patching rate limiters"
The release of v0.15.0 of firecracker introduces a new API which allows the patching of rate limiters. Currently the SDK does not support this, but should.

[2019-02-25 20:44] #11 closed

[2019-02-26 22:24] samuelkarp opened #73 "[CI] Failed CI test runs leave dangling tap devices"
Failed CI runs leave dangling tap devices, which then prevent retries of the run from succeeding:

[code]

This is because the final command to [delete the tap](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/9f72e23890ebac60da5d5024619d5d0b4241499b/.buildkite/pipeline.yml#L45) gets skipped if the test fails.

I've been manually fixing this with a pipeline like this:

[code]

The CI

[2019-02-27 19:27] #73 closed

[2019-02-28 19:19] nmeyerhans opened #77 "MMDS support does not work"
#12 introduced support for the Firecracker [MMDS](https://github.com/firecracker-microvm/firecracker/blob/master/docs/mmds.md) service. Although the PR included tests, it did not exercise the functionality end-to-end. It turns out that MMDS support does not actually work. This can be demonstrated using firectl as shown below. The expected behavior, when passing valid json via firectl's --metadata

[2019-02-28 19:31] xibz opened #79 "Test each individual handler"
In the `handlers.go` file there are predefined handlers that need to be tested, and since some handlers are optionally ran they may not be tested in our current integration tests. By writing tests for each defined handler allows certainty that the handler behave correctly.

[2019-02-28 19:38] nmeyerhans commented on #77
Fixed with #78

[2019-02-28 19:38] #77 closed

[2019-02-28 23:29] nmeyerhans commented on #51
We've skipped 0.14.0 and gone straight to 0.15.0, which is supported by the release we just issued (our first!). [v0.15.0](../releases/tag/v0.15.0)

[2019-02-28 23:29] #51 closed

[2019-03-07 19:22] MatisiekPL commented on #49
@xibz
Hello,
following code throws an error 😢 :
`Failed handler "fcinit.StartVMM": Firecracker did not create API socket ./api.socket: context deadline exceeded`
Can you explain, what is the problem? 😊
Thanks,
Mateusz Woźniak

[2019-03-07 19:28] xibz commented on #49
@MatisiekPL - My first guess would be that there may be an incompatible version of firecracker being used. What version of the SDK and firecracker are you using?

[2019-03-07 19:52] MatisiekPL commented on #49
@xibz
The version of firecracker - 0.15.0
and version of SDK - i don't know, because I ran `go get -v`

[2019-03-07 20:23] xibz commented on #49
@MatisiekPL - Are you able to get the SDK version via code?

[code]

[2019-03-07 22:04] xibz commented on #49
@MatisiekPL - Found a bug that I think regards this issue. See #84

[2019-03-07 22:40] samuelkarp opened #85 "Rethink signal handling"
Default signal handling in Linux could lead the `firecracker` process to become orphaned.  To prevent this, the SDK sets up some default signal handlers that forward signals along to the `firecracker` process.  However, this is pretty implicit and not super discoverable unless you read the code, and it may interfere with signal handling that the calling application intends to perform.  We should t

[2019-03-07 22:53] #79 closed

[2019-03-08 12:34] MatisiekPL commented on #49
@xibz
This bug fix didn't fix my problem
I also should mention, that I have got following log line: `WARN[0003] firecracker exited: signal: terminated`
What is the error source?
It looks like the firecracker binary is immediately exiting after start.
Maybe this is the problem with permissions.
Thanks,
Mateusz Woźniak

[2019-03-08 13:00] MatisiekPL commented on #49
@xibz
After some research I have got the problem source, 😊
You need to pass custom `Opt` when calling `firecracker.NewMachine`.
[code]
Thnaks,
Mateusz Woźniak

[2019-03-08 18:36] xibz commented on #49
@MatisiekPL - I do not see how that fixes the firecracker process from crashing. I think something else was/is occurring. And it looks like the `cmd` variable above is never used, is that intentional? What does your `cfg` look like?

[2019-03-10 09:34] MatisiekPL commented on #49
@xibz
Oh, I forgot to copy following line:
`machineOpts = append(machineOpts, firecracker.WithProcessRunner(cmd))`
So the final code will look like this:
[code]

[2019-03-19 21:39] samuelkarp opened #88 "Should not require socket path to be set in both firecracker.Config and firecracker.VMCommandBuilder"
The SDK currently requires the socket path to be set in two places, and for it to be set to the same thing:

* [firecracker.Config](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/57448b62dc5998a32cb240f4991f7c5203ef8773/machine.go#L42-L45)
* [firecracker.VMCommandBuilder](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/57448b62dc5998a32cb240f4991f7c5203ef8773/command

[2019-04-08 00:32] rstat1 commented on #85
If I may add my 2 cents as a user of firecracker and this sdk (in some personal experiments), my biggest issue with the SDK's signal handling is that it doesn't unset the handlers after the firecracker process goes away. This ended up interfering with some of my own signal handlers.

[2019-04-08 19:20] jeromegn opened #92 "How to use metrics and logs fifo with the jailer?"
Whatever I do, I can't seem to get logs and metrics to work with the SDK. They work fine if I use the API manually.

I get the following:

[code]

The jailer requires putting files in its `chrootBasePath + "/root"`, which makes sense. I don't think this is working with the SDK.

While I'm here, what's the difference between using `EnableJailer` and using `WithProcessRunner(jailer)`?

Example progr

[2019-04-10 18:31] xibz commented on #92
Hello @jeromegn, thank you for reaching out to us. It looks like you are manually trying to setup the workspace for the jailer. This can be difficult and is prone to error. The SDK does have a jailer config that will automatically set things up for you.

[code]

Please let us know if you are still running into issues with this example.

[2019-04-10 18:59] jeromegn commented on #92
Thank you, that makes more sense now. The other way mostly worked and it appeared to be "the way" given this jailer example: https://godoc.org/github.com/firecracker-microvm/firecracker-go-sdk#example-JailerCommandBuilder

I didn't know how to use the `JailerCfg`.

For now I've moved to just spawning the process myself and interacting with the API directly. I needed to move my project to rust.

[2019-05-10 18:31] xibz commented on #92
@jeromegn - Ah, thank you for reopening this and digging into it. I see what you are talking about now. I think the fix should be pretty simple by moving the `BootstrapLoggingHandler` to after the linking handler.

[2019-05-10 19:05] jeromegn commented on #92
I'm not sure it'll work if the fifos already exist. The linking handler will have to create them too (which it doesn't right now)

[2019-05-10 19:09] xibz commented on #92
@jeromegn - My thinking was you'd set the log and metric fifo paths to the jailer's workspace. However, that does require knowledge of where to put the fifo files. I like your idea better of adding it part of the link handler. I'll mess around with the design some to see what works best.

[2019-05-10 19:36] jeromegn commented on #92
Alternatively, would something like this be acceptable?

[code]

I don't particularly like that the machine requires knowledge of the jailer, but then again this is the quickest fix I could figure.

[2019-05-10 19:48] xibz commented on #92
@jeromegn - I agree that the machine shouldn't know anything about the jailer. So I've went ahead and basically did what you did there, but moved it into the link handler. Please take a look at the PR and feel free to pull it down and test it out.

[2019-05-10 20:32] jeromegn commented on #92
I think you’ll need to chown the links with the jail UID and GID.

This also means if you run more than one VM, from the same folder, then it
will keep trying to create fifos in the cwd.

On Fri, May 10, 2019 at 3:48 PM xibz <notifications@github.com> wrote:

[2019-05-10 21:01] xibz commented on #92
@jeromegn - We just need the read bit permission set, which is done during `setupLogging` call. I update the integration test to ensure the fifo are being created. And since we can stat the file, it means we can read it :)

will keep trying to create fifos in the cwd.

This can be avoided when instantiating new VMs to pass in different fifo paths. So I think this is fine.

[2019-05-20 23:39] #92 closed

[2019-06-17 18:26] samuelkarp commented on #50
@deepak6446 We haven't heard back from you in a while, so I'm going to close this issue.  If you have any further questions, please feel free to open a new issue.

[2019-06-17 18:26] #50 closed

[2019-06-17 18:29] samuelkarp commented on #49
@deepak6446 We haven't heard back from you in a while, so I'm going to close this issue.  If you have any further questions, please feel free to open a new issue.

@MatisiekPL It looks like the problem you were having is unrelated to the one that @deepak6446 opened this issue about.  If you are still having this problem, please open a new issue and we can help you there.

[2019-06-17 18:29] #49 closed

[2019-06-26 17:43] nmeyerhans opened #100 "Support firecracker 0.17.0 API"
The SDK currently is based on the Firecracker 0.15.x API. The current release is 0.17.0, and there have been [some breaking changes](https://github.com/firecracker-microvm/firecracker/compare/v0.15.2...v0.17.0#diff-269561b710bfd7d1718952e4c1893672) to the API specification.

[2019-06-26 19:06] evantorrie commented on #85
In my case, I want to control signal handling from my own process - I would rather have some option to disable the auto-signal handler creation inside the firecracker SDK.

[2019-06-27 22:41] nmeyerhans commented on #100
Merged #101

[2019-06-27 22:41] #100 closed

[2019-07-11 20:56] #66 closed

[2019-07-11 21:34] kzys commented on #85
How about having

[code]

and let customers kill `firecracker` by closing the machine?

It is a bit cumbersome than our current signal handling, but more explicit and won't interfere with the host application's signal handling.

We currently try to free resources we made by assuming the application's signal handling policy, but we really don't know about. In Go, providing explicit `Close()` is mor

[2019-07-18 18:36] sipsma opened #106 "Support configuration of Jailer binary path"
Right now, the default path to the jailer binary is always used when configuring the Jailer through the `JailerConfig` struct: https://github.com/firecracker-microvm/firecracker-go-sdk/blob/b0a25b1a7090d5bdc1b4f4c76ca187e9d5619de4/jailer.go#L125

Instead, the path to the jailer binary should be optionally configurable in `JailerConfig` and default to the existing path if not specified.

[2019-07-18 20:42] #106 closed

[2019-07-29 19:05] cpheps opened #109 "Support retrieval of MMDS from firecracker"
There currently is no method on the Machine struct for retrieving metadata from Firecracker.

There's a method to set the metadata and it looks like the client is setup to make the GET call for MMDS, I think things just need to be hooked up between the client and the Machine.

[2019-07-29 19:16] xibz commented on #109
Hello @cpheps, thank you for reaching out to us. I think the vision there was that you would only ever need to send metadata to the machine and never need to retrieve with the SDK. That is why it is only on the client. I am not opposed to putting a helper method to retrieve metadata, but what is your use case our of curiosity?

[2019-07-29 19:23] cpheps commented on #109
Our use case is to store some data about the Firecracker instance so if the program that launched the it dies, when it comes back up it can recreate the state of things by asking the Firecracker instances what they know about themselves.

[2019-08-27 17:23] haikuoliu opened #115 "Add support for describeInstance"
Hi all,

Firecracker-containerd `GetVMInfo` API doesn't really call the VM API, we want to periodically call some VM API to check if instance is still responsive, we'd like to use [describeInstance](https://github.com/firecracker-microvm/firecracker/blob/29f81f1e72361329aa09c9db0d87e68d3d091fcf/api_server/swagger/firecracker.yaml#L29) API for this purpose, but  it doesn't seem it's implemented, do

[2019-08-29 18:39] #109 closed

[2019-09-04 16:07] kzys opened #121 "Support Firecracker 0.18"
[Fireckracker 0.18 is out](https://github.com/firecracker-microvm/firecracker/releases/tag/v0.18.0)! The biggest change is the way Firecracker supports vsock.

https://github.com/firecracker-microvm/firecracker/blob/master/docs/vsock.md

[2019-09-04 17:55] kzys commented on #121
Note that we are going to drop 0.17.0 support instead of supporting both of them.

[2019-09-09 19:37] sipsma opened #126 "Support CNI-configured network interfaces"
(This code resolving this is already out, retroactively creating to have an issue to reference)

As part of the design for adding CNI support to Firecracker-containerd, it was decided that most of the functionality should be added to the Go SDK so it can benefit both Firecracker-containerd and potentially other consumers. The relevant design doc can be found here: https://github.com/firecracker-mi

[2019-09-11 23:35] #126 closed

[2019-09-19 21:02] sipsma opened #130 "Support forcing CNI network creation even if delete of pre-existing network fails"
[In reference to the current code's attempt to delete a pre-existing network for a given VM](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/e4d1f825a38ade07bd1e9dc2bfd64abb7f0331f2/network.go#L324-L330), I've now encountered in the wild a plugin (the `firewall` CNI plugin) that consistently fails here due to a previous result not being available (which goes against what the CNI spe

[2019-09-19 21:06] sipsma opened #131 "Support customizing tap device name in tc-redirect-tap plugin"
[Right now it's not possible for users of `tc-redirect-tap` to set a specific tap device name to use; it will always be created with the name the kernel decides (usually `tap0`)](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/e4d1f825a38ade07bd1e9dc2bfd64abb7f0331f2/cni/cmd/tc-redirect-tap/main.go#L124).

We should add support for that. We need to decide if it is best added as a `C

[2019-09-19 21:08] sipsma opened #132 "Support customizing tap device uid/gid in tc-redirect-tap plugin"
[Right now it's not possible for users of tc-redirect-tap to set a specific tap uid/gid to use; it will always be created with the uid/gid of the caller](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/e4d1f825a38ade07bd1e9dc2bfd64abb7f0331f2/cni/cmd/tc-redirect-tap/main.go#L126-L128).

We should add support for customizing the uid/gid. We need to decide if it is best added as a CNI

[2019-09-20 13:07] cpheps opened #133 "Failed setting up FifoLogWriter with jailer when using path other than ./log.fifo"
I'm seeing an error when using jailer, if your config has a `LogFifo` set to something other than `./log.fifo` and you use `FifoLogWriter` you will get a warning message

[code]

It looks as though this is due to in [jailer.go](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/jailer.go#L432) `LogFifo` is overwritten with the base of the configured path, which should just be th

[2019-09-20 15:41] cpheps commented on #133
Some follow up info after doing some testing, doesn't look like the `captureFifoToFile` can be called during the Jailer setup as this happens before Firecracker is live. `captureFifoToFile` will hang when attempting to open the `log.Fifo` file as hit can not be written to. See [this issue](https://github.com/golang/go/issues/33050) for more details.

Seems like either jailer setup would need to sp

[2019-09-25 00:34] sipsma opened #136 "Add Firecracker vsock client code"
The recent vsock changes in Firecracker v0.18.0 result in some additional requirements on top of the previously-used standard vsock interface (for which there are already 3rd party libraries), [see their docs](https://github.com/firecracker-microvm/firecracker/blob/master/docs/vsock.md) and [this PR for example](https://github.com/firecracker-microvm/firecracker-containerd/pull/266).

Given there

[2019-09-25 00:36] sipsma commented on #121
This was closed by #129

[2019-09-25 00:36] #121 closed

[2019-09-25 00:41] sipsma opened #137 "Issue new release for new Firecracker version and CNI changes"
The SDK could use a new official release that includes the recent upgrade to Firecracker v0.18.0 and the support for CNI-configured network interfaces.

Both those changes are backwards incompatible, which needs to be included in the release notes.

[2019-10-02 03:28] photoszzt opened #139 "Support for tc-redirect-tap in experimental Firecracker frakti runtime"
After adding the tc-redirect-tap to the cni configuration, the pod based on docker fails to connect to network. Is it possible to make them usable for both runtime? For the context, I'm using frakti which supports multiple runtime.

[2019-10-02 16:53] photoszzt commented on #139
I create two network config files. One for docker and one for firecracker. It seems working fine for now.

[2019-10-02 18:51] sipsma commented on #139
@photoszzt Thanks for reaching out! Just to clarify, you are now able to use tc-redirect-tap successfully without it interfering with docker?

Is it possible to post the CNI configuration you were trying to use previously with both runtimes (the one that didn't work)? At the moment,`tc-redirect-tap` will likely only be usable by the `firecracker-go-sdk`, but I'm interested in the details of your u

[2019-10-02 19:03] photoszzt commented on #139
Yes. I pass them different net config in two directories. One has the tc-redirect-tap and one doesn't. That seems to solve my problem.

For docker:
[code]
For firecracker:
[code]
You can see the only difference is the firecracker config has the chained tc-redirect-tap plugin.

[2019-10-02 21:32] sipsma commented on #139
@photoszzt awesome, understand now and glad to hear it's working for you. I think using a separate configuration like you've done is the right approach here.

The reason `tc-redirect-tap` will not work when used with other frameworks like Docker is that `tc-redirect-tap` modifies the previous interface from the CNI configuration (in your case, the `bridge`) to mirror all of its traffic with a tap

[2019-10-03 20:42] #133 closed

[2019-10-06 15:51] photoszzt commented on #139
I haven't tested it thoroughly. There's still some problem with the tc-redirect-tap. With the above firecracker setting, I can't pass the liveness/readness check. Is the bridge plugin tested with tc-redirect-tap?

[2019-10-07 00:29] photoszzt commented on #139
The problem I'm having is the liveness probe and readiness probe are all failed:

  Warning  Unhealthy  45s                kubelet, 127.0.0.1  Liveness probe failed: Get http://10.30.0.12:8080/_/health: dial tcp 10.30.0.12:8080: connect: no route to host
  Warning  Unhealthy  43s (x3 over 47s)  kubelet, 127.0.0.1  Readiness probe failed: Get http://10.30.0.12:8080/_/health: net/http: request cance

[2019-10-07 17:56] sipsma commented on #139
@photoszzt I saw you mentioned earlier that you are trying to use frakti, which I'm personally not very familiar with. Can you provide more details on the frakti configuration you are using to create these VMs, such as what runtime you are using?

It's not immediately clear from the frakti docs how customizable the runtime configuration is, but unless the runtime you're using is based on something

[2019-10-07 18:35] photoszzt commented on #139
I'm modifying frakti to support firecracker. They already have a unikernel runtime that's based on libvirt and I'm adding a firecracker backend to it.

I'm not sure whether my network configuration is setup correctly. Here's what I do to pass network configuration: https://github.com/photoszzt/frakti/blob/314e995c7d0df808ea4e3a43cc7dd67a29731b29/pkg/ocicni/ocicni.go#L257-L278
Or the following code

[2019-10-07 20:52] photoszzt commented on #139
@sipsma I update the submodule. I create a fork of the go sdk so that I can use the older version of cni. The tc-redirect-tap command is built using the original repo. If you want to build it, you can pull the repo.

[2019-10-07 21:13] sipsma commented on #139
Thanks @photoszzt , first of all your project sounds very neat! It's really cool to see potential Firecracker integration with frakti.

For the issue you are experiencing, I will take a closer look at your code the next few days when I have some time to get a better overall understanding. I'll also see if I can use your CNI configuration (bridge+portmapping+tc-redirect-tap) with the separate firec

[2019-10-08 17:40] sipsma commented on #139
One update: I tried using your CNI configuration (bridge->portmap->tc-redirect-tap) with firecracker-containerd and was successfully able to get networking up and running. I could reach the internet from within the Firecracker VM and was able to connect to ports being listened on inside the VM from the host (tested with netcat).

So I think `tc-redirect-tap` should be expected to basically work wi

[2019-10-08 18:16] photoszzt commented on #139
@sipsma I print out the osv log. It's hanging at waiting for ip.
[code]
In my local setup with NAT, it prints like this:
[code]

[2019-10-08 19:00] photoszzt commented on #139
@sipsma It might be an osv issue. I can reach the health endpoint locally. Do you know any way I can test the CNI setup without launching kubernetes?

[2019-10-09 11:54] Zyqsempai commented on #131
I will take this one!

[2019-10-09 12:00] Zyqsempai commented on #132
I will work on this one.

[2019-10-09 20:33] photoszzt commented on #139
@sipsma I fix the osv issue. Osv can get the ip that's returned by the cni configuration. But the client still cannot connect to the VM. The client is executed in the same network namespace with the server. Is there anything I need to pay attention to?

[2019-10-09 21:26] sipsma commented on #139
@photoszzt I'm not familiar with frakti or osv, so can you describe the overall architecture here a bit more? My main question is where osv fits into all of this. I see in your code that the CreateContainer implementation starts a Firecracker VM, so does osv run inside of the VM? Is it configured to start when the VM boots?

If the above understanding is correct, you said that osv can get the IP t

[2019-10-09 23:04] photoszzt commented on #139
@sipsma No, Firecracker directly starts osv directly. Unikernel is a VM. It doesn't need to run another VM. I modify the go sdk to suite osv's convention as it has different assumption on boot argument and disk format. Mostly following osv's upstream script: https://github.com/cloudius-systems/osv/blob/master/scripts/firecracker.py

 Osv get the IP that's returned by the CNI configuration. I can s

[2019-10-09 23:12] sipsma commented on #131
Sounds great @Zyqsempai ! I took a look at this again, my thinking right now is that it would be best to start with support for configuring the tap name through the CNI args rather than the CNI configuration file, which is probably more flexible for users.

So what that means is checking if the CNI args specified a tap name and, if so, setting it in [the plugin configuration here](https://github.c

[2019-10-09 23:17] sipsma commented on #132
Great, this will be fairly similar to what I described in [the issue for supporting tap name](https://github.com/firecracker-microvm/firecracker-go-sdk/issues/131#issuecomment-540245061), but instead adding support for overriding [the uid/gid fields here](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/5fb4eeae40c2d36188185e5fda3eb7d306e51b96/cni/cmd/tc-redirect-tap/main.go#L126-L12

[2019-10-10 00:04] sipsma commented on #139
Ah okay, so you are outside the VM (i.e. not in the guest) but inside the network namespace on the host while trying to reach a service listening on the VM IP inside the VM. It's actually expected behavior that you'd not be able to reach a service running inside the VM from **within the network namespace on the host**, you should only be able to reach the services running inside the VM **from outs

[2019-10-10 02:55] photoszzt commented on #139
@sipsma There's one more complication. The sender is held in a docker container in another network namespace. Docker and firecracker take two different network configurations. In my example, they are on two different bridges. I'm not sure they can talk to each other.

[2019-10-10 19:04] sipsma commented on #139
So the health check client is running in a separate docker container? Yeah that would definitely introduce a whole new layer of networking to deal with.

Have you tried specifying the same name for the bridge in both CNI configuration files? That is, keep using separate CNI configuration files but specify `"bridge": "cni"` in both of them?

On the surface, it seems like the bridge plugin *might* s

[2019-10-10 19:51] photoszzt commented on #139
Yes, it's telling me connection refused now. I'm not sure what filters the packet. Tcpdump on cni0 shows the packet is sending to the VM.

[2019-10-10 21:41] sipsma commented on #139
"Connection refused" typically means that the packet actually reached the destination IP (i.e. it wasn't filtered), but the OS at the destination is reporting there's no service listening on the requested port. This makes it sound like the packets are being routed correctly, but the health server is not actually up and running listening on the port. Can you see any confirmation in logs that there

[2019-10-11 15:59] photoszzt commented on #139
@sipsma It's indeed the server's problem. The VM's memory is not large enough to start it. Thanks for your help!

[2019-10-11 15:59] #139 closed

[2019-10-11 18:20] sipsma commented on #139
@photoszzt Of course, glad you got it figured out! Please reach out if you run into anything else we can help with

[2019-10-14 18:16] sipsma opened #141 "Update to Firecracker v0.19"
There's a new release of Firecracker that has some tweaks to the new vsock API which require updates in the SDK: https://github.com/firecracker-microvm/firecracker/releases/tag/v0.19.0

[2019-10-15 15:41] cpheps opened #143 "Startup Hangs when using LogWriter"
This pertains to PR #134 I worked on and it introduced the issue.

When it was suggested to move `captureFifoToFile` to the handler, I forgot about the fact that if Firecracker is not started before we start listening on the log.fifo then `os.Open` in [captureFifoToFile](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/machine.go#L582) will block. Since we moved `captureFifoTo

[2019-10-18 12:41] cpheps commented on #143
Investigating this more, now that I've dug into it seems like the VM is started but we try and listen to the fifos before we tell Firecracker about them. Seems like `captureFifoToFile` should be in `BootstrapLoggingHandler` (which was originally how things were). The issue there is jailer messes with the fifo paths in the config.

[2019-10-18 23:27] xibz commented on #143
@cpheps - Hello, thank you for taking a deep dive into this. I am a little confused to why `captureFifoToFile` now blocks. Can you elaborate on that a little? Why does enabling jailer cause it to block?

[2019-10-19 00:25] cpheps commented on #143
So jailer itself isn't the issue with hanging. There was an issue previously where using the `FifoLogWriter` wouldn't work if you were using jailer and your original `log.fifo` location was not `./log.fifo`. That is no longer an issue but it should be considered when implementing a fix. I'll elaborate on it more at the bottom.

The current hanging issue happens when you have a `FifoLogWriter` spec

[2019-10-19 00:28] xibz commented on #143
@cpheps - I went ahead and create a PR for a fix. I tested this and ensured that this is properly working with the fifo writer. Please let me know if you run into any other issues.

[2019-10-21 22:39] xibz opened #146 "goroutine within captureFifoToFile may leak"
I am under the suspicion that this [goroutine](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/5fb4eeae40c2d36188185e5fda3eb7d306e51b96/machine.go#L597-L603) may be leaking if the file has been deleted or unlinked. More testing may be needed to verify this.

[2019-10-29 11:00] Zyqsempai commented on #141
I will take this one!

[2019-10-29 20:12] sipsma opened #150 "Root tests are no longer being run in the CI system"
I just noticed that the CI appears to now be skipping root tests even in the "root test" stage. See the most recent build of the master branch (expand "root tests", you'll see several `SKIP`s that shouldn't be there): https://buildkite.com/firecracker-microvm/firecracker-go-sdk/builds/367#2fcbb91a-b08c-4685-acf0-db72fb4258a5

Two commits prior they were run though: https://buildkite.com/firecracke

[2019-10-29 21:37] #150 closed

[2019-10-29 21:49] kzys commented on #141
Thanks @Zyqsempai! Resolving, since we have its release task as #137.

[2019-10-29 21:49] #141 closed

[2019-10-29 21:57] kzys commented on #115
Currently our Machine interface doesn't expose the underlying client, but we would do that. Please see the discussion on #116.

[2019-10-29 21:58] kzys commented on #131
Thanks @Zyqsempai! Resolving.

[2019-10-29 21:58] #131 closed

[2019-10-29 21:59] kzys commented on #132
Thanks @Zyqsempai. Resolving this one too 💯

[2019-10-29 21:59] #132 closed

[2019-10-29 22:09] kzys commented on #115
Another health check use-case. https://firecracker-microvm.slack.com/archives/CDL3FUR8B/p1572309553045800

[2019-11-05 00:44] #143 closed

[2019-11-05 00:56] #146 closed

[2019-11-05 18:58] cpheps opened #156 "Race condition when using LogWriter"
After #145 was merged there now exists a race condition when setting up a LogWriter

In `captureFifoToFile`  this goroutine

[code]

will not block on `io.Copy`, I think this is due to opening with `syscall.O_NONBLOCK` unsure though. This causes the defer to trigger and `syscall.Unlink` to remove the originally configured `log.fifo`.  When using jailer if this happens before the `LinkFilesHandler`

[2019-11-05 19:12] xibz commented on #156
Hey @cpheps, thank you for bringing this to our attention. Out of curiosity what is the error that is being returned from the io.Copy?

[2019-11-05 19:14] cpheps commented on #156
That's the weird thing, there is no error. I'm guessing because `io.Copy` exits on an EOF with the `syscall.O_NONBLOCK` we are getting an early EOF with no writer to the fifo. Unsure on this just speculating.

[2019-11-05 19:22] xibz commented on #156
Oh? That’s interesting.
What happens when you run your application?
What is the error?
Can you copy and paste the output here?

[2019-11-05 19:24] cpheps commented on #156
Yeah the error is
`machine link /home/cphelps/jailer/log.fifo /home/cphelps/jailer/firecracker/662/root/log.fifo: no such file or directory` that comes out of the  `LinkFilesHandler` inside jailer.go.

[2019-11-05 19:35] xibz commented on #156
Thank you @cpheps for the information. I will go ahead and write a small test to test the behavior of nonblock and copy. Once I have more information from the test and running the jailer manually, Ill take a look at what options we have!

[2019-11-05 19:59] xibz commented on #156
@cpheps - I am having trouble reproducing this. Here is my example

[code]

Can you run that example and see if that returns the same error? If it does not, can you paste some of your code to see if I can reproduce it on my end?

Also, what Go version are you using? Just so I am using the same version as you.

[2019-11-05 20:04] cpheps commented on #156
I'll try it out now. Using go1.12.5 on linux/amd64

[2019-11-05 20:27] cpheps commented on #156
@xibz I tried it and did not see the error, though I did notice nothing was ever written to the `writer.fifo`.  I was able to reproduce it though by vendoring the dependencies and adding a `time.Sleep(1 * time.Second)` right [here](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/jailer.go#L413). A sleep should be fine if `io.Copy` is blocking then no weird behavior should be

[2019-11-05 20:45] xibz commented on #156
Yea, I saw what you're talking about with the captured logs not being present. I think the fix here would to be retries on `io.Copy` until an error has occurred.

[2019-11-06 16:58] Zyqsempai commented on #136
@sipsma Is this still actual for us? Can I work on this one?

[2019-11-06 21:05] #156 closed

[2019-11-06 21:06] xibz commented on #156
Hey @cpheps, we just merged in a fix that should alleviate the problem you are having! Thank you again for bringing this to our attention. If you have any other questions or concerns please feel free to reach out!

[2019-11-07 20:56] sipsma commented on #136
@Zyqsempai this is still something we'd like to do, though I'd caution that it will require a lot of cross-repo changes/coordination (since we'd basically just be migrating pieces of this firecracker-containerd code to this repo: https://github.com/firecracker-microvm/firecracker-containerd/blob/master/internal/vm/vsock.go ) and I'd suspect the hardest part by far would just be finding a way to wr

[2019-11-07 21:09] Zyqsempai commented on #136
@sipsma Thank you for letting me know, after your explanation, I am more than agree with you, actually, I didn't thought it's such a global change, I will take a look into other issues, thank you!

[2019-11-07 21:11] Zyqsempai commented on #130
I will work on this one!

[2019-11-07 21:14] sipsma commented on #130
Sounds great, thanks! Let me know if you need any more context on the change

[2019-11-19 18:29] sipsma commented on #137
This is done: https://github.com/firecracker-microvm/firecracker-go-sdk/releases/tag/v0.19.0

[2019-11-19 18:29] #137 closed

[2019-11-19 18:30] sipsma commented on #130
Closed by #161

[2019-11-19 18:30] #130 closed

[2019-11-22 07:47] Zyqsempai commented on #13
@nmeyerhans Is this still actual?

[2019-11-25 22:33] IRCody commented on #13
@Zyqsempai I think this was already implemented in #55.

[2019-11-25 22:33] #13 closed

[2019-12-11 23:55] sipsma opened #164 "Make hardcoded timeouts configurable"
When attempting to reproduce some rare errors in firecracker-containerd, I've at times increased load quite a bit which has caused me to hit various hardcoded timeouts in the go sdk. When I increase the timeouts in my fork the operations succeed, so the timeouts are just set too low for the tests I'm running. The current values seem fine as defaults, but they should be configurable.

Ones I've enc

[2019-12-17 10:03] Zyqsempai commented on #164
@sipsma Totally make sense to me, but how do you plan to configure it?

[2019-12-17 18:04] nmeyerhans commented on #164
It's probably reasonable for this sort of thing to be settable via environment variables.

[2019-12-17 20:09] xibz commented on #164
I think I much prefer these to live in the config, rather than as environment variables. We can support both, but I think having them inside the config at the bare minimum is preferable. And honestly, [this](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/9e2ff62839b228665976be79191e33cffce5f760/firecracker.go#L173) can probably just use the request timeout.

[2019-12-17 20:49] nmeyerhans commented on #164
What config?

[2019-12-17 21:18] xibz commented on #164
@nmeyerhans - The config structure, https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/machine.go#L52

[2019-12-17 21:23] nmeyerhans commented on #164
Right. That's exactly why I think we should use environment variables. That structure comes from the client application, meaning that if we require these settings to come from there, then they can only be adjusted by a client application that knows about them. Since this is specifically useful for debugging, and affects the internal behavior of the SDK, there's no need for the client to know anyth

[2019-12-17 21:48] xibz commented on #164
Hm, how do you feel about supporting both then? I mean that definitely adds a level of complexity of figuring out what value to use when both are set, but I can definitely see users wanting to adjust the timeouts in the config.

[2019-12-17 21:52] nmeyerhans commented on #164
I'd start with environment variables, since that functionality will address the use cases we know about now and is simple to implement.

If at a later time it makes sense for these values to be settable by the calling application, we can do that. I would not want to add support for that now, though, given a lack of any documented need for it.

[2019-12-19 16:51] jeromegn commented on #85
For what it's worth, we have a use-case where we do not want signals to be handled by firecracker-go-sdk since we sometimes want to orphan firecrackers and pick them back up later (we only really care about their PID and use meta data to recognize them).

It could be an option in the machine config.

[2020-01-03 21:53] samuelkarp opened #168 "Buildkite steps occuring on different hosts / difference in execution environments"
We're in the process of adding Amazon Linux 2 testing to our CI along with Debian.  However, the CI system is misconfigured and running steps randomly across different hosts right now, meaning that dependencies between steps are not captured properly and some environmental differences are showing up and causing failures.

This is impacting https://github.com/firecracker-microvm/firecracker-go-sdk/

[2020-01-03 21:56] samuelkarp commented on #168
The difference in `install(1)` seems to be introduced somewhere between coreutils 8.22 (in Amazon Linux 2) and 8.28 (in Ubuntu 18.04) (Debian Buster has 8.30, but I can see the different description in Ubuntu 18.04 already).

Amazon Linux 2:

Debian Buster:

[2020-01-04 01:43] samuelkarp commented on #168
Closing since the immediate issue is fixed.  @xibz is going to follow up and finalize setting up an Amazon Linux 2 test environment (and chase down the environmental differences).

[2020-01-04 01:43] #168 closed

[2020-01-06 20:46] kzys commented on #85
I think #166 is good enough to close this issue.

Regarding the idea I proposed above, StopVMM() is killing a VM forcibly and we are trying to avoid using the method on firecracker-containerd. So calling this method `Close()` is bit misleading, since it is unsafe.

[2020-01-06 20:49] samuelkarp commented on #85
@kzys I agree.  Closing this.

[2020-01-06 20:49] #85 closed

[2020-01-10 15:02] michaeldwan opened #172 "release 0.20.0"
Looks like 0.20.0 is mentioned in the changelog but hasn't been tagged yet -- is it ready for a release?

[2020-01-10 18:19] kzys commented on #172
Yes. We will tag the release pretty soon!

[2020-01-13 16:28] smira opened #173 "CNI, ip= kernel argument and multiple interfaces"
Linux kernel image we're using has compiled-in support for bonding, so if we use it with Firecracker, it comes up with `eth0` and `bond0` interfaces by default. When firecracker does CNI, it injects `ip=` kernel argument (and doesn't allow that argument to be passed in) with final IP assigned to the VM, but it skips specifying actual device name: https://github.com/firecracker-microvm/firecracker-

[2020-01-20 19:35] smira opened #174 "publishing `tc-redirect-tap` in releases"
Could you please publish `tc-redirect-tap` on Releases for the next release, so that users can easily download it when setting up something using Firecracker and CNI.

[2020-01-21 12:05] muhamadazmy opened #175 "jailer: flag seccomp-level is not supported anymore"
The jailer on the master branch has dropped the `--seccomp-level` flag [here](https://github.com/firecracker-microvm/firecracker/compare/v0.20.0...master#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR19).

The sdk still append this flag to the `jailer` binary [here](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/jailer.go#L158)

Which causes the jailer to fail with error:
[code]

[2020-01-21 22:40] xibz commented on #175
Hello @muhamadazmy, thank you for reaching out to us and notifying us of the issue. I've went ahead and added a PR with the fix, #176, but we will need to update our CI to build against master. If you have any questions about the PR and other issue, please let us know

[2020-01-22 09:34] muhamadazmy commented on #175
@xibz thank you so much for such quick response :)

[2020-01-24 01:52] kzys commented on #172
We've just realized that SDK is currently not compatible with Firecracker's Vsock protocol change (https://github.com/firecracker-microvm/firecracker/commit/a271d08f0b1ba0ee82761cd49244b6a8017bcede#diff-1b131960ac0b33a6de812a32a990a882).

[2020-01-24 15:37] jeromegn commented on #172
We've been having some trouble with reconnecting to a vsock, but only sometimes. This is a weird one, not sure if related. I can't replicate locally, this is only happening in our production setup afaict.

[2020-01-24 20:13] kzys commented on #172
Thanks for reporting @jeromegn! Can you open an issue with the details of the problem? It may not be related, since the vsock change would break us 100%.

Regarding the vsock change, apparently we don't have to fix the SDK since vsock handling is mostly in firecracker-containerd side, but we have found that Firecracker 0.20.0 has another backward-incompatible change (https://github.com/firecracker

[2020-01-28 13:46] luxas commented on #172
Friendly ping on tagging the v0.20.0 release, for easier vendoring :)
Thanks for all your work!

[2020-01-30 00:42] kzys commented on #172
We have released 0.20.0 finally! Regarding the backward incompatible change, it only affects errors and the fix has been merged into firecracker/master already.

https://github.com/firecracker-microvm/firecracker-go-sdk/releases/tag/v0.20.0

[2020-01-30 00:42] #172 closed

[2020-02-12 20:28] kzys commented on #173
Sorry for not responding the issue and thanks for the contribution. Can we resolve this issue now?

[2020-02-12 20:32] kzys commented on #174
We may separate this command from the Go SDK, since

- `tc-redirect-tap` is not really tied to Firecracker. There may be other use cases.
- The command is relatively stable than the SDK itself.
- The SDK doesn't have binary releases. Our "release" is simply a Git tag.

Let us know if it doesn't work for you!

[2020-02-12 21:27] smira commented on #173
@kzys, yes, closing that PR #178 resolved it as option (2). thanks!

[2020-02-12 21:27] #173 closed

[2020-02-12 21:28] smira commented on #174
yes, any kind of binary release will be just perfect, if it's on separate repo that might be even easier.

[2020-02-13 21:33] xibz commented on #175
Hey @muhamadazmy - Sorry for the delay there. We managed to get the change merged in and verified that it does work with HEAD of Firecracker. We know have a better story on how we want to deal with supporting HEAD. If you have any other issues or questions, please don't hesitate to ask.

[2020-02-13 21:33] #175 closed

[2020-02-13 22:09] muhamadazmy commented on #175
Thank you so much @xibz . I really appreciate it 😊

[2020-02-18 18:30] cpheps opened #198 "Machine setupSignals does not scale"
I just finished running some pprof analysis on our code and with the latest SDK that now has [machine.setupSignals](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/machine.go#L939) I saw that the select statement eats up the majority of the total cpu time. Especially when the number of vms increases.

I've included a screen shot of the firecracker portion of our cpu pprof
<im

[2020-02-18 18:53] kzys commented on #198
Thank you for the profiling! We should have that somewhere in my pipeline.

The intention of the change (#166) is disabling signal handling in the SDK. So setting the slice empty would be the way to go.

However, I do want to make our default option performant. Can we give up the signal handling in the SDK? Signals are shared by a process. It doesn't fit nicely in the SDK.

Cc: @michaeldwan

[2020-02-18 19:07] kzys commented on #198
According to @nmeyerhans, the original intention of the signal handling is having some sane default to avoid orphaning firecracker processes. So we should not remove the signal handling unless we have better alternatives.

[2020-02-19 00:02] kzys commented on #198
@cpheps I've been trying to reproduce the issue. While I could get a similar pprof graph, ForwardSignals didn't affect the overall performance much.

The test code is currently in my fork: https://github.com/kzys/firecracker-go-sdk/commit/58ec39377b0c44378478df3d8c4148dbdcd502a7

On my z1d.metal EC2 instance, both TestRunMultipleVMWithSignalForwarding and TestRunMultipleVMWithoutSignalForwarding r

[2020-02-19 13:43] cpheps commented on #198
@kzys Took a look at your test and look like what I would expect. I did see one difference in that we set `ForwardSignals = []os.Signal{}` before we call `NewMachine`. Looking at the code this should be no difference. Do that though did improve performance for us and removed that issue.

[2020-02-19 13:46] thepwagner opened #200 "machine.Start() context cancellation ignores clean exit"
Since https://github.com/firecracker-microvm/firecracker-go-sdk/pull/182 , I'm seeing a red herring message logged at "level=error" by the SDK:

<pre>
time="2020-02-19T13:06:51Z" level=info msg="VMM logging and metrics disabled."
time="2020-02-19T13:06:51Z" level=info msg="refreshMachineConfiguration: [GET /machine-config][200] getMachineConfigurationOK  &{CPUTemplate:T2 HtEnabled:0xc00f367494 Mem

[2020-02-19 16:23] kzys commented on #200
The SDK is writing `firecracker exited: status=0`, meaning that the SDK itself is aware about that the process is no longer aliver. Can't we use the signal to skip sending `Signal()` or hiding the error message?

[2020-02-19 16:26] kzys commented on #198
Yeah. Setting that *before* calling NewMachine seems no-op because of https://github.com/firecracker-microvm/firecracker-go-sdk/blob/f8acfc43bfbe27b5c80264662f992573fdc0a20b/machine.go#L348.

How did you measure the performance? [CPU Utilization is something misleading](http://www.brendangregg.com/blog/2017-05-09/cpu-utilization-is-wrong.html). Did it actually increase the performance which is mea

[2020-02-19 16:39] cpheps commented on #198
Right so my measurement was just watching `top` for our process. When the go routines in `setupSignals` were not created the cpu measurement in top went from 1000% to ~20%

[2020-02-19 21:41] thepwagner commented on #200
@kzys I started down that path in #201 , but the method of firing the signal and recovering had less races to deal with.

[2020-02-20 11:00] #200 closed

[2020-02-21 16:25] cpheps commented on #198
@kzys Did a quick read through I might know why you're not seeing improvements in your test. The Config is not a pointer that is passed to `NewMachine`

https://github.com/firecracker-microvm/firecracker-go-sdk/blob/f8acfc43bfbe27b5c80264662f992573fdc0a20b/machine.go#L303

So when it's set to the OS signals and set on the machine it's a modified copy of the one you still have a handle on in your t

[2020-02-27 01:40] kzys commented on #198
@cpheps Thanks. You are right! Let me check that again tomorrow.

[2020-02-27 18:40] kzys commented on #198
@cpheps I can reproduce the issue and see the difference in wall-clock time. Yes. ForwardSignals does make the host busier.

[code]

[2020-02-27 23:22] kzys commented on #198
@cpheps The SDK is not removing signal handling channels correctly. That means, we may be leaking goroutines. The fix is #204!

[2020-02-27 23:26] kzys opened #205 "Continous Perfomance Testing"
We don't have a mechanism to catch performance regressions (such as #198). We should.

[2020-02-27 23:33] kzys opened #206 "Endurance Testing"
We should have a way to catch resource leaks. Does the SDK close all file descriptors, stop goroutines, and/or deallocate memory correctly?

One way of doing that is running a program that use SDK for a long time (at least an hour) to see its resource consumption.

[2020-02-28 14:10] cpheps commented on #198
Awesome! Thanks @kzys for chasing down a fix.

[2020-03-02 16:50] #198 closed

[2020-03-13 15:15] jeromegn opened #217 "VMM unable to create socket since 0.21"
I keep getting the following messages when trying to start a VMM:

[code]

I've upgraded my firecracker and jailer to 0.21.1, and upgraded this go package to 0.21.0. This worked fine with 0.20.

Here's a strace for the whole thing if that's of any interest:

<details><summary>strace</summary>

[code]

</details>

^ I had manually added `--api-sock /run/firecracker.socket` as a test here in my vend

[2020-03-16 23:06] kzys commented on #217
Thanks for reporting @jeromegn,

The socket path on the log (`/home/jerome/src/github.com/superfly/nomad-firecracker/firecrackers/62fab4aa/firecracker-0.21.1/62fab4aa/root/run/firecracker.socket` - 132 bytes) is pretty long and it would hit Linux's limit.

http://man7.org/linux/man-pages/man7/unix.7.html

We hit this limit before and added some workarounds in our tests. Can you try shorten the pat

[2020-03-17 11:45] jeromegn commented on #217
Shortening the path fixes it.

I remember this was not a problem a while ago. I just realized this had been a problem since a few versions using this specific code path, but that it wasn't in a different one because it resulted in shorter socket paths.

Would it be possible to validate the length of the socket path? This should be an error or else it's very confusing.

It's also a very long path b

[2020-03-17 11:57] jeromegn commented on #217
SocketPath is also hardcoded now when using the jailer: https://github.com/firecracker-microvm/firecracker-go-sdk/blob/master/jailer.go#L291

If I could use something like `api.sock` instead of `/run/firecracker.socket`, I would save a few bytes there too! Unfortunately whatever I set in my `MachineConfig` is thrown away.

[2020-03-17 16:50] kzys commented on #217
Firecracker is able to show the error like below;

[code]

Instead of doing the same check on the SDK side, I personally prefer to either show the message as is, or modify Firecracker to provide a mechanism which is easier to consume from the SDK (e.g. different exit code, format logs in JSON, ...)

[2020-03-18 23:43] kzys commented on #88
If a customer is using `NewMachine`, he/she doesn't have to specify the socket path twice, because of

https://github.com/firecracker-microvm/firecracker-go-sdk/blob/6237a440a4fb41da27769078630a62f70e1920bd/machine.go#L319

I think that covers most of use cases.

Do we want to improve UX even further for customers who use `NewClient()` directly?

[2020-04-02 15:26] mustafaakin opened #224 "Security error when downloading the v0.21.0"
Hi, I'm not sure why it happened however I get the following message when I try to download:

go: downloading github.com/firecracker-microvm/firecracker-go-sdk v0.21.0
go get github.com/firecracker-microvm/firecracker-go-sdk: github.com/firecracker-microvm/firecracker-go-sdk@v0.21.0: verifying module: checksum mismatch
        downloaded: h1:kV/PDppT1p96RGB4AGeCL3+Xy0jEV4nC4ark71DMGek=
        sum

[2020-04-02 18:12] kzys commented on #224
What is your Go version? We have seen the same issue on https://github.com/firecracker-microvm/firecracker-containerd/pull/406. Seems Go 1.11 and Go 1.12 can't generate the correct checksum.

[2020-04-02 19:44] mustafaakin commented on #224
I'm on Go 1.14.1 linux/amd

[2020-04-02 20:10] kzys commented on #224
That's strange. What was the command you have tried? Do you have go.mod and/or go.sum in your directory?

[2020-04-02 20:22] mustafaakin commented on #224
I just go mod init and go get back then and got the above error continously for an hour, but right now I did not get it. Not sure why it happened though. Sorry.

[2020-04-03 07:18] #224 closed

[2020-04-22 19:17] sriramsv opened #228 "Firecracker socket resets connection on shutdown"
while trying out the `machine.Shutdown()` call from the go-sdk, the firecracker socket resets the connection and also shuts down the VM disgracefully due to the error.

I also used the new `ForwardSignals` set to `[]os.Signal{}`  to make sure firecracker does not listen to any interrupt signals coming from the host operating system.

[code]
However when I try using the same kernel image with `fire

[2020-05-15 05:57] kzys opened #235 "proxy.golang.org doesn't have v0.21.0 correctly"
I really don't know why, but it apparently has 7404c2ba5c5bff572d5efb34d9edc3976e70ae56.

[code]

[2020-06-04 21:38] kzys opened #239 "Snapshotting Support"
Firecracker's next release would have microVM snapshotting. The API definition file has been updated on master already (see #233).

[2020-06-15 23:04] kzys commented on #174
Thanks @smira. I'm going to create awslabs/tc-redirect-tap to host the plugin.

[2020-06-15 23:49] kzys commented on #228
What is the configuration of your Linux kernel? Shutdown internally uses SendCtrlDel, which is not supported by some Linux kernels. See https://github.com/firecracker-microvm/firecracker/issues/1095 for the detail.

[2020-06-16 04:50] kzys commented on #115
https://github.com/firecracker-microvm/firecracker-go-sdk/pull/116#issuecomment-642244716

Hello  @olibearo. I think that the definition of "healthy" depends on applications. For example, firecracracker-containerd is launching a small agent process inside a VM. So having a connection to the agent means "healthy" for firecracker-containerd. But other applications would have different definitions.

[2020-07-04 11:26] mazzy89 commented on #174
Where can I get `tc-redirect-tap`? I haven't found under awslabs/tc-redirect-tap.

[2020-07-06 17:15] mazzy89 commented on #115
I'm interested to have a way to check the healthiness of the VM. In my case, I just run firecracker VMs inside a container. Similar to how Ignite does by spawning inside a Docker container a Firecracker VM so in my case I would need to implement a liveness/readiness endpoint that checks the status of the running VM.

[2020-07-06 18:40] kzys commented on #174
Sorry. We are still in the process of creating the repository.

[2020-07-06 18:47] mazzy89 commented on #174
Sure. No problems. Thanks for reacting on this fast. If I may help anyhow, just ping me.

[2020-07-08 22:49] kzys commented on #174
We've open-sourced https://github.com/awslabs/tc-redirect-tap. We are going to prepare binary releases on the repository.

[2020-07-08 22:52] kzys commented on #174
Resolving. We are going to track the binary releases in https://github.com/awslabs/tc-redirect-tap/issues/6.

[2020-07-08 22:52] #174 closed

[2020-08-11 17:18] kzys commented on #217
While #219 hasn't been merged, #230 has fixed the issue.

[2020-08-11 17:18] #217 closed

[2020-08-11 17:19] kzys commented on #239
Firecracker v0.22.0 doesn't have snapshotting. We are going to release the SDK's v0.22.0 to address breaking changes first.

[2020-09-21 16:03] stealthybox commented on #235
I think this is related to an issue we had with ignite.
This is how we worked around it:
https://github.com/weaveworks/ignite/commit/19a5e3fec7dc42ad4b215139234f0ee469af2539

[2020-09-24 19:45] bodenr opened #264 "Please release v0.22.0 of the go SDK for Firecracker 0.22.0 compatibility"
Fircracker v0.22.0 has been out since Aug 5 (https://github.com/firecracker-microvm/firecracker/commit/b68a78beabed1c2417acfe73e63df0ef7916f0cc#diff-7f337bc17ae2ea3c2f55a502b59caae0) and contains a handful of changes that are missing in the v0.21.0 of the go sdk. For example, changes in the log/metrics FIFO and API. As a result running v0.21.0 of the go sdk with 0.22.0 of FC leaves consumers with

[2020-10-09 17:23] advancedwebdeveloper opened #267 "Build errors, on Windows 10"
Hi.
I tried to install the latest Golang 1.15.2 distro, on Windows 10.

I entered MinGW's bash:

My environment looks like this:

[2020-10-09 17:33] advancedwebdeveloper commented on #267
I tried to obtain source & build your project:

And some problems occurred:

so that is the question to Microsoft - but this already have an alternative approach, at Microsoft.

I am not familiar with that project.

CC @aboch @vishvananda @chantra @paravmellanox @corny

[2020-10-09 23:00] kzys commented on #267
It would be hard to use the SDK on Windows. Firecracker depends on KVM which is Linux specific. Firecracker's API server is listening a Unix domain socket, which is not available in Windows.

[2020-10-09 23:01] kzys commented on #264
Sorry for the late reply. We are planning to release a new version (#266) hopefully next week.

[2020-10-10 23:46] advancedwebdeveloper opened #268 "Long-term support for gollvm"
Hi.
I was able to building this project with [gollvm](https://go.googlesource.com/gollvm/) - so it makes sense to run all the tests, on Linux host/bare metal/on-prem.

It would be petty helpful if there would be some end-user examples, in Go, to reproduce potential real-world scenarios - so not just basic test automation.

[2020-10-12 23:06] kzys commented on #268
According to https://go.googlesource.com/gollvm/,

Do you know how stable the compiler is?

[2020-10-20 22:18] bodenr commented on #264
Thank you for the update.
I've been watching https://github.com/firecracker-microvm/firecracker-go-sdk/pull/266 but it obviously hasn't merged yet.
Is there any new ETA for when we might expect the new release?

[2020-10-20 22:28] xibz commented on #264
@bodenr we've run into some permission issues on the backend and we are getting those resolved. Once resolved we can do the release!

[2020-10-23 20:43] xibz commented on #264
We just release [`v0.22.0`](https://github.com/firecracker-microvm/firecracker-go-sdk/releases/tag/v0.22.0). Please let us know if you have any other requests!

[2020-10-23 20:43] #264 closed

[2020-10-23 21:23] bodenr commented on #264
@xibz thank you!

[2020-11-04 15:07] dkanada opened #279 "handle tap creation outside firecracker"
Are the tap devices created with firecracker proper or this library? I'd like to create them manually and send the MAC instead, but I get several different error messages when trying to create them myself.

[2020-11-06 23:03] kzys commented on #235
Resolving since we have released v0.22.0 recently. Please reopen this issue if you must use 0.21.0.

[2020-11-06 23:03] #235 closed

[2020-11-07 04:26] #279 closed

[2020-11-16 18:56] MrCull opened #283 "The README file in this repo has a bad link - [404:NotFound]"
The markup version of the readme that is displayed for the main page in this repo contains the following link:

"Firecracker's security reporting guidelines"
Status code [404:NotFound] - Link: https://github.com/firecracker-microvm/firecracker/blob/master/SECURITY-POLICY.md

(The link in the readme’s raw markdown may appear in a different format to the link above)

--

To re-check this Repo use th

[2020-11-16 23:52] #283 closed

[2020-12-14 18:33] kzys commented on #267
Closing. The SDK launches Firecracker and communicates with that through a local Unix domain socket.

Since Firecracker doesn't support Windows as its host, running the SDK on Windows wouldn't be possible. So building the SDK on Windows would not have real-world use cases.

[2020-12-14 18:33] #267 closed

[2020-12-14 18:35] kzys commented on #268
Closing. We could reconsider once gollvm is getting stable.

[2020-12-14 18:35] #268 closed

[2020-12-14 19:10] dependabot-preview[bot] opened #299 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/firecracker-microvm/update-logs/59212651).

[2020-12-14 19:10] #299 closed

[2021-02-09 23:58] radekg opened #311 "A problem with resolving container route appears at an exact commit in the SDK"
Hi there. Thank you for the work on this SDK, I'm pretty new to Firecracker but I was able to get up to speed in a reasonable time.

I have experienced a problem with certain functionality and a few minutes ago I've managed to identify a commit which makes the functionality not working. It's a weird one, though.

I'm trying to adapt this HashiCorp Nomad plugin: https://github.com/cneira/firecracke

[2021-02-17 23:15] radekg opened #313 "Jailer LinkFilesHandler should check if m.Cfg.JailerCfg.ChrootBaseDir is empty"
If yes, it should use the value of `defaultJailerPath` instead. The issue can be reproduced by using `firectl` with jailer but without `--chroot-base-dir`. Example:

[code]

[2021-03-02 13:05] everesio commented on #49
I have the same problem i.e. `firectl` is not reacting to `CTRl + C` from terminal, whereas `kill -s INT <pid>` is working.
I've noticed that pseudo terminal of the processes (bash-> sudo firectl -> firectl -> firecracker) e.g. `pts/6` had switched off `isig, icanon and echo` tty options.

[code]

[code]

After `isig` was re-enabled for this tty
[code]

`CTRl + C` worked and the `firectl` was stop

[2021-03-02 13:12] everesio commented on #49
@samuelkarp  Is it desired behavior ? Can it be changed or made configurable ?

[2021-03-08 15:49] #311 closed

[2021-03-08 19:12] kzys commented on #311
@radekg Sorry for the late reply. Does it work now?

[2021-03-08 20:25] radekg commented on #311
@kzys Yes, it was related to the upstream project not handling the netns setting.

[2021-03-10 00:23] everesio opened #324 "Machine started with Jailer and CNI but without NetNS config reports "Failed to write to tap: Os { code: 5, kind: Other, message: "I/O error" }""
When a machine is created with Jailer and CNI, but without NetNS configuration, it continually reports "Failed to write to tap: Os { code: 5, kind: Other, message: "I/O error" }"
No such problem occurs when NetNS parameter is provided.

I've noticed that the `NewMachine` function calls `jail` function, before default NetNSPath is assigned to the machine config
i.e.

jail does not configure nspath

[2021-04-19 07:26] acatangiu opened #336 "Rename master branch to main"
We're making changes across the `firecracker-microvm` org to use inclusive language in documentation, code and branch naming.

This issue tracks renaming https://github.com/firecracker-microvm/firecracker-go-sdk `master` branch to `main`.

[2021-04-22 00:40] RoyceDavison commented on #336
Fixed all.

[2021-04-22 00:40] #336 closed

[2021-04-23 16:27] alakesh commented on #228
@sriramsv  Do you still see this issue?

[2021-04-28 22:09] angristan opened #340 "Outdated Slack link"
On https://github.com/firecracker-microvm/firecracker-go-sdk/blob/main/README.md#questions, the Slack link doesn't work: https://tinyurl.com/firecracker-microvm

![image](https://user-images.githubusercontent.com/11699655/116478896-187b9f80-a87f-11eb-96ae-86ccede5ec7e.png)

I suppose it should be updated as in https://github.com/firecracker-microvm/firecracker/commit/7b0f0161532692f23d648cdfd1d4cd

[2021-04-30 19:05] RoyceDavison commented on #340
@angristan Thank you for pointing that out. We just created a PR for it.

[2021-04-30 19:06] RoyceDavison commented on #340
Will close this issue once the PR is merged

[2021-05-12 03:03] #340 closed

[2021-06-16 22:58] kzys commented on #239
Note to myself, we have Pause, Resume and CreateSnapshot. Loading from a snapshot is still pending. It would need some redesign of the Machine abstraction we have.

[2021-10-13 17:02] kzys opened #364 "Define supported Go versions"
The SDK currently doesn't have a policy regarding supported Go versions. We have been supporting Go 1.11 for a while even Go team doesn't support the version.

Right now, the motivation tends to come from dependencies. If they are having vulnerabilities and we want to upgrade them, we tend to realize that newer dependencies don't support older Go versions.

We probably should have a version suppor

[2021-11-24 11:43] yitsushi opened #368 "Connections to the Firecracker unix socket are never closed"
When we call the API to see what's the status of the MicroVM, the connection stays there and it's never closed (only when we restart the application).

Here is an isolated demonstration: https://github.com/yitsushi/firecracker-go-sdk-connection-leak-poc

Sample code:
[code]

In the demo (link above) we are using `github.com/firecracker-microvm/firecracker-go-sdk v0.22.0`.

[2021-11-25 09:17] MNThomson commented on #239
Resuming from a snapshot would be a highly appreciated feature, any updates on progress or time-line?
Thx!

[2021-11-26 12:23] ustiugov commented on #239
[vHive](https://github.com/ease-lab/vhive) has complete support for snapshots in a research-tailored frameowork, integrating Knative, Kubernetes, and Firecracker. If you are interested in the snapshot support only, you can take a look at our changes in [firecracker-containerd fork](https://github.com/ease-lab/firecracker-containerd/pull/24).

[2022-01-18 18:27] kzys opened #371 "Use `--seccomp-filter` instead of `--seccomp-level`"
The flag `--seccomp-level` has been deprecated and will be deleted from Firecracker soon.

[2022-02-07 18:58] austinvazquez opened #379 "Refactor firecracker-containerd's vsock module to be reused for other firecracker applications"
I would like to use firecracker-containerd's internal [vsock](https://github.com/austinvazquez/firecracker-containerd/blob/main/internal/vm/vsock.go) module.

This issue is to refactor that module into a package here in the sdk.

[2022-02-08 03:15] dps opened #381 "SDK requires field HtEnabled to be set on MachineCfg. Firecracker >0.25.0 does not support this parameter"
Firecracker returns this error when HtEnabled is set on the MachineCfg via the Go SDK

[code]

However, not setting `HtEnabled` at all fails to validate on the client (SDK) side:
[code]

It appears ht_enabled was renamed to smt after version 0.25.0 and the SDK needs to be updated to account for that:
Here's a relevant part of the test code:
https://github.com/firecracker-microvm/firecracker/blob/m

[2022-02-08 04:19] dps commented on #381
More broadly, the SDK needs to be updated for firecracker 1.0 - I forked to fix the above issue and then ran into:
[code]

The v1.0 changelog says:

[2022-02-09 16:40] #379 closed

[2022-02-09 23:27] kzys commented on #381
Yes. There are a few breaking changes on Firecracker side, since it is their first 1.0 release. We will update the SDK shortly to at least make existing features work.

[2022-02-09 23:30] kzys commented on #136
Resolved by #380 finally!

[2022-02-09 23:30] #136 closed

[2022-02-17 02:28] Kern-- commented on #381
This should be resolved with #382

[2022-02-17 02:28] #381 closed

[2022-02-17 02:28] Kern-- commented on #371
Resolved with #382

[2022-02-17 02:28] #371 closed

[2022-03-01 20:39] kzys opened #391 "Test vsock in this repository"
The vsock code is extracted from firecracker-containerd where the vsock is actually used. Currently this package (including the tests) don't use vsock. So we don't have enough PR-level testing regarding the implementation.

[2022-03-04 09:52] alexellis commented on #381
I also ran into this, then tried to remove the field to get the VM to create, and it still failed with firecracker 1.0:

[code]

@Kern-- please can you create a new release in this repository, so that Go.mod can be updated to a release instead of a SHA? The last release was 23 Oct 2020 and your commit was 15 days ago.

I noticed a similar issue with other firecracker repositories, is there a reaso

[2022-03-04 13:21] alexellis commented on #239
@kzys

It looks like milestone 1.0.0 was opened on 4 Jun 2020 - quite some time ago.

When do you expect to see Pause, Result and CreateSnapshot to become available in the Go SDK?

Is there a compatible way to use the existing Go SDK to create machines and the HTTP API directly with as per the [Snapshot API](https://github.com/firecracker-microvm/firecracker/blob/main/docs/snapshotting/snapshot-su

[2022-06-27 11:26] Joffref opened #416 "Bump pkg.go.dev version"
# Problem
I recently tried to run a VMM with the provided SDK but it seems that MachineConfiguration model isn't up to date on pkg.go.dev and I'm unable to set Smt field. I'm still able to use HtEnabled but it's no recognized by Firecracker server.

# Solution
Bump the version on pkg.go.dev will solve the problem according that problem has been solved few weeks ago.

# Screenshot
![image](https://

[2022-07-06 21:11] austinvazquez opened #418 "Intermittent LoadSnapshot integration test and examples failures due to bad rootfs."
For testing `CreateSnapshot` and `LoadSnapshot` support in the SDK, we started utilizing `firecracker`'s devtool to create a microVM rootfs and SSH key for spinning up microVMs we could run commands inside using SSH.

It would be nice to have these artifacts publicly available via S3 bucket for download compared to building it at runtime.

[2022-07-12 23:23] austinvazquez opened #422 "Make test images step in pipeline is no longer doing useful work"
This feels like an example of code rot.

This [step](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/main/.buildkite/pipeline.yml#L48) builds firecracker and jailer binaries. However later in the pipeline we utilize `make deps` which downloads the latest firecracker and jailer binaries from release S3 bucket.

I would prefer removing the `test-images` target and step from the pipeli

[2022-07-12 23:41] kzys commented on #422
I think, we are testing the SDK against Firecracker's release versions and it's main branch. The container is for the latter.

[2022-07-13 00:05] austinvazquez commented on #422
@kzys, I see the step now which uses the main branch binaries. I was wrong.

[2022-07-13 00:17] #422 closed

[2022-07-16 16:19] austinvazquez opened #423 "Document feature support and limitations for microVM snapshot feature."
It would be good to have a writeup for users with the following information.

- [x] Current snapshot support from the SDK
- [x] Known limitations

[2022-07-29 09:15] Joffref opened #428 "StopVMM doesn't wait cleanup to be done"
# What is the bug ?
StopVMM doesn't wait cleanup to be done. That means, if your main thread closes directly after calling StopVMM method, cleanup will not be done (e.g delete CNI).
As a SDK user I except StopVMM ensure cleanup.
# How to reproduce
The following code reproduces this behavior.
[code]
# Where does it came from ?
Under the hood cleaning up is handle by a [goroutine](https://github.com

[2022-08-04 20:42] #423 closed

[2022-08-09 14:52] austinvazquez opened #432 "Loading snapshot should not require kernel image path on machine config"
When loading a snapshot, if no kernel image path is provided in machine config, then an error occurs.

[code]

This is likely the config validation being pedantic / not designed for loading snapshots.

The task here is to
1) Verify a snapshot can be loaded without providing the kernel image path
2) Create a new validator for loading snapshots

[2022-08-12 22:01] ginglis13 opened #435 "Add test for `WithSnapshotOpt`"
Follow up from discussion on #434

`WithSnapshotOpt` is currently unused and untested: https://github.com/firecracker-microvm/firecracker-go-sdk/blob/490e3369bc978ef15ff1e2f13d76c675f4a64767/opts.go#L51-L53

for coverage purposes, we would like a test that uses this and supplies an option. That option could be to resume a VM on Snapshot load and could be used in conjunction with the ssh tests in p

[2022-08-13 15:03] #432 closed

[2022-08-18 14:49] protochron opened #437 "MMDS should default to V2"
Now that v2 of the MMDS is GA and v1 is deprecated, shouldn't the Go SDK default to V2? It seems like omitting the version parameter like the SDK does in he `setMmdsConfig` handler means that the Firecracker VMM is still using v1.

Seems like a fairly straightforward fix: just set the `Version` field in the `MmdsConfig` struct that is built in the handler. I'm just not sure if it's what you all wa

[2022-08-19 06:55] Joffref commented on #437
Knowing that MMDS V2 is available in firecracker (https://github.com/firecracker-microvm/firecracker/blob/e81013c5be768c96b9088869bf468c0954d74e3e/src/mmds/src/data_store.rs#L34-L41) I thinks it's possible to at least give the capability to SDK user to set themselves the version for MMDS and still defaulting to V1.

But I think there is more than the version field to change. According to this : ht

[2022-08-19 22:21] whb07 opened #438 "new tagged releases"
Seeing as how there has been a number of changes and updates to both the repo and the firecracker repo, when can we expect a new release to be provided?

thanks for the great work

[2022-08-20 17:45] Joffref commented on #239
Hello @alexellis,

At this time, LoadSnapshot works very well, but it's not available in v0.22, so it will be usable in the next version of the SDK.

You can create a machine with the go SDK, snapshot it and then use firecracker API to restore the VM. As you mentioned restoring with network is a big deal, you can restore a VM but[ as described in this documentation](https://github.com/firecracker-

[2022-08-29 17:58] #435 closed

[2022-08-29 18:04] ginglis13 commented on #364
Seeing this on other recent PRs (e.g. #440). Looks like our dependency `ltag` does not support Go <= 1.15:
[code]
`os.ReadFile` was added in Go 1.16

[2022-08-29 18:47] Joffref commented on #364
Maybe, version of the ltag binary must be setted using `go get github.com/kunalkushwaha/ltag@version` in the [Makefile](https://github.com/firecracker-microvm/firecracker-go-sdk/blob/dd9dd9395c36b19cff8000a9c3e72b772805f005/Makefile#L124-L127) to provides two versions, one for 1.15 <= and one for 1.16 >=  ?

[2022-08-29 19:32] Joffref commented on #416
Will be closed by #444

[2022-08-29 20:39] Joffref commented on #438
I think PR #444 will answer your question :100:

[2022-08-30 16:16] austinvazquez commented on #364
To me the way is to drop support for Go <= v1.16. v1.17 just ended support in August 2022 and users may still be in transition.

Also we should pin the dependency versions for reproducible builds but that is a separate issue.

[2022-08-30 17:07] Kern-- commented on #364
As @kzys mentioned, that would require users on Debian 11 or Ubuntu 20.04 to download go outside of their normal package managers. Debian 11 just went stable last year and is supported for [4 more years](https://www.debian.org/News/2021/20210814), and Ubuntu 20.04 is still supported for [2 years](https://ubuntu.com/about/release-cycle).

I don't think it's unreasonable to say we will only support

[2022-08-30 17:18] austinvazquez commented on #364
That's fair I wasn't viewing support from the linux distribution pov. Now I'm conflicted again. I want to consider those users, but 4 more years of Go 1.15 support 👀

[2022-08-30 17:20] Joffref commented on #364
I agree with @Kern-- as a Firecracker go sdk user these "feature" is quite important to me as I'm working in constrained environments.

[2022-08-30 17:33] kzys commented on #364
I've updated my comment above. Dropping Go 1.15 and 1.17 support may be a bummer for Ubuntu 18.04 LTS users, but other distros seem fine.

https://github.com/firecracker-microvm/firecracker-go-sdk/issues/364#issuecomment-942535398

[2022-08-31 14:56] #437 closed

[2022-08-31 15:43] austinvazquez commented on #418
The load snapshot integration test can sometimes fail with the following:

[code]

This is a result of a bug in Firecracker's devtool causing the rootfs build to silently fail.

[2022-09-01 14:56] #416 closed

[2022-09-01 14:58] Joffref commented on #438
It's merged !! You can close your issue 👌

[2022-09-02 14:29] Joffref opened #446 "Pin dependencies versions in build"
I raise this issue, to prevent building to fail as it has happened recently (https://github.com/firecracker-microvm/firecracker-go-sdk/issues/364#issuecomment-1230664795)

The solution is to pin dependency version to be sure that build is constant. At this time versions in use are :

- ptp : [v1.1.1](https://pkg.go.dev/github.com/containernetworking/plugins@v1.1.1/plugins/main/ptp)
- host-local: [

[2022-09-02 17:20] kzys commented on #438
Let us keep the issue open until we have v1.0.0 tag and its GitHub release.

[2022-09-02 19:09] Joffref commented on #438
I didn't saw that release wasn't updated too, so I agree, the PR must stay open 😃 Sorry haha

[2022-09-07 18:19] turan18 commented on #438
@whb07 v1.0.0 has just been released.

[2022-09-08 17:01] #428 closed

[2022-09-09 17:27] protochron opened #448 "StopVMM() blocks when shutting down"
#429 introduced a channel to block on when running the cleanup functions when stopping a VM. This means that if any of the cleanup functions blocks, then anything calling `StopVMM()` will be blocked as well.

After hooking in a debug log, I'm unable to get any actual output from any of the cleanup functions, so it's proving difficult to narrow down what might actually be making a blocking call. I

[2022-09-26 21:25] dl-stripe commented on #340
Looks like the current invite link is also not working anymore. Any chance we can generate a new one?

[2022-09-30 17:09] #446 closed

[2022-10-01 06:23] austinvazquez opened #451 "Add Go 1.18 and 1.19 to GitHub actions."

[2022-10-03 17:44] #451 closed

[2022-11-17 01:00] vvejell1 opened #462 "Excluding the Installation of msr-tools package on ARM"
#[3270](https://github.com/firecracker-microvm/firecracker/pull/3270) While trying to perform ARM integration test against firecracker-go-sdk, we need firecracker devtool to create a microVM rootfs with an SSH key for testing the creation and loading of a snapshot. As we are looking to build a rootfs with devtool, it keeps failing and this is due to msr-tools package which doesn't really supports

[2022-11-22 22:59] austinvazquez opened #463 "Resolve GitHub actions workflow warnings"
Upgrade actions packages, e.g. actions/setup-go, actions/checkout, from v2 to v3 to resolve NodeJS 12 warnings in CI workflow.

[2022-11-26 06:01] jlkiri opened #464 "Misleading NetworkInterface configuration"
Currently, `NetworkInterface.StaticConfiguration.IPConfiguration.IPAddr` is of type `net.IPNet` which, according to the `net` library, represents

[code]

Note that there is no place to specify an actual IP address in there, only subnet and mask.
If the SDK user uses the convenient `net.ParseCIDR()` function, the resulting `net.IPNet` struct can be passed as-is to the firecracker config, but there